.logo {
    background-color: rgb(48, 184, 184);
    height: 110px;
    width: 100%;
    color: white;
   line-height: 50px;
   font-size: 20px;
   padding: 10px 20px;
   float: left;
  
}

.navbar {
   
    clear: left;
    width: 100%;
      height: 30px;
      background-color: gray;
    
}
.navbar li {
    display: inline;
    line-height: 30px;
  
   }

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.infodiv {
    width: 600px;
}

span {
    display: block;
}

.infodiv p  {
    margin: 20px;
   
}
.infodiv h2 {
    background-color: antiquewhite;
    margin: 10px;
}



.block1 {
    width: 250px;
   
   
    
}

.block0 h2 {
    background-color: antiquewhite;
    margin: 0px;
    padding: 5px;
}
.block0 {
    float: left;
  
}